<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="internal-nlog.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="NLog.Targets.ElasticSearch"/>
  </extensions>

   <!--<variable name="LogstashServerAddress" value="tcp://localhost:5000"/>-->
    
  <targets async="true">
    <target name="http-request"
            xsi:type="ElasticSearch"
            ConnectionStringName="ElasticSearchServerAddress"
            index="gateway-http-request-log-${date:format=yyyy.MM.dd}"
            layout="${message}">
      <field name="ClientIP" layout="${event-properties:item=ClientIP}" />
      <field name="Method" layout="${event-properties:item=Method}" />
      <field name="UrlPath" layout="${event-properties:item=UrlPath}" />
      <field name="StatusCode" layout="${event-properties:item=StatusCode}" />
      <field name="ResponseTime" layout="${event-properties:item=ResponseTime}" />
     
      -<field name="MachineName" layout="${machinename}" />      
      <field name="logger" layout=" ${logger}" />
      <field name="exception" layout=" ${exception:format=toString}" />
      <field name="processid" layout=" ${processid}" />
      <field name="threadname" layout=" ${threadname}" />
      <field name="stacktrace" layout=" ${stacktrace}" />
    </target>
    
    <target name="system"
                xsi:type="ElasticSearch"
                ConnectionStringName="ElasticSearchServerAddress"
                index="gateway-system-log-${date:format=yyyy.MM.dd}"
                layout="${message}">
      -<field name="MachineName" layout="${machinename}" />
      <field name="logger" layout=" ${logger}" />
      <field name="exception" layout=" ${exception:format=toString}" />
      <field name="processid" layout=" ${processid}" />
      <field name="threadname" layout=" ${threadname}" />
      <field name="stacktrace" layout=" ${stacktrace}" />
    </target>
    
  </targets>

  <rules>
    <logger name="OcelotApiGateway.Middleware.HttpRequestLog" minlevel="Trace" writeTo="http-request" final="true" />
    <logger name="*" minlevel="Trace" writeTo="system" />
  </rules>
</nlog>