<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="internal-nlog.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="NLog.Targets.ElasticSearch"/>
  </extensions>

  <variable name="ServiceName" value="boardgame"/>

  <targets async="true">
    <target name="http-request" xsi:type="AsyncWrapper" timeToSleepBetweenBatches="50" >
      <target name="http-request"
              xsi:type="ElasticSearch"
              ConnectionStringName="ElasticSearchServerAddress"
              index="${ServiceName}-http-request-log-${date:format=yyyy.MM.dd}"
              layout="${message}">
        <field name="ClientIP" layout="${event-properties:data:objectpath=ClientIP}" />
        <field name="Method" layout="${event-properties:data:objectpath=Method}" />
        <field name="Url" layout="${event-properties:data:objectpath=Url}" />
        <field name="Request_Params" layout="${event-properties:data:objectpath=Request}" />
        <field name="StatusCode" layout="${event-properties:data:objectpath=StatusCode}" layoutType="System.Int32"/>
        <field name="響應時間" layout="${event-properties:data:objectpath=ResponseTime}" layoutType="System.Int32"/>

        <field name="MachineName" layout="${machinename}" />
        <field name="logger" layout=" ${logger}" />
        <field name="exception" layout=" ${exception:format=toString}" />
        <field name="processid" layout=" ${processid}" />
        <field name="threadname" layout=" ${threadname}" />
        <field name="stacktrace" layout=" ${stacktrace}" />
      </target>
    </target>

    <target name="system" xsi:type="AsyncWrapper" timeToSleepBetweenBatches="50" >
      <target name="system"
              xsi:type="ElasticSearch"
              ConnectionStringName="ElasticSearchServerAddress"
              index="${ServiceName}-system-log-${date:format=yyyy.MM.dd}"
              layout="${message}">
        <field name="MachineName" layout="${machinename}" />
        <field name="logger" layout=" ${logger}" />
        <field name="exception" layout=" ${exception:format=toString}" />
        <field name="processid" layout=" ${processid}" />
        <field name="threadname" layout=" ${threadname}" />
        <field name="stacktrace" layout=" ${stacktrace}" />
      </target>
    </target>

    <target name="auth" xsi:type="AsyncWrapper" timeToSleepBetweenBatches="50" >
      <target name="auth"
              xsi:type="ElasticSearch"
              ConnectionStringName="ElasticSearchServerAddress"
              index="${ServiceName}-auth-log-${date:format=yyyy.MM.dd}"
              layout="${message}">
        <field name="IsAuth" layout="${event-properties:data:objectpath=IsAuth}" layoutType="System.Boolean"/>
        <field name="UserId" layout="${event-properties:data:objectpath=User.Id}" layoutType="System.Int32"/>
        <field name="UserUsername" layout="${event-properties:data:objectpath=User.Username}" />
        <field name="UserInfo" layout="${event-properties:data:objectpath=UserJson}" />
        <field name="SecurityToken" layout="${event-properties:data:objectpath=SecurityTokenJson}" />

        <field name="MachineName" layout="${machinename}" />
        <field name="logger" layout=" ${logger}" />
        <field name="exception" layout=" ${exception:format=toString}" />
        <field name="processid" layout=" ${processid}" />
        <field name="threadname" layout=" ${threadname}" />
        <field name="stacktrace" layout=" ${stacktrace}" />
      </target>
    </target>

    <target name="api" xsi:type="AsyncWrapper" timeToSleepBetweenBatches="50" >
      <target name="api"
              xsi:type="ElasticSearch"
              ConnectionStringName="ElasticSearchServerAddress"
              index="${ServiceName}-api-log-${date:format=yyyy.MM.dd}"
              layout="${message}">
        <field name="MachineName" layout="${machinename}" />
        <field name="logger" layout=" ${logger}" />
        <field name="exception" layout=" ${exception:format=toString}" />
        <field name="processid" layout=" ${processid}" />
        <field name="threadname" layout=" ${threadname}" />
        <field name="stacktrace" layout=" ${stacktrace}" />
      </target>
    </target>

  </targets>

  <rules>
    <logger name="Domain.Logger.HttpLoggerMiddleware" minlevel="Info" writeTo="http-request" final="true" />
    <logger name="Services.Auth.JWTEvent" minlevel="Info" writeTo="auth" final="true" />
    <logger name="BoardGameWebService.Controllers.*" minlevel="Info" writeTo="api" final="true" />
    <logger name="*" minlevel="Info" writeTo="system" />
  </rules>
</nlog>